extends layout

block content
        h1 #{title}
        .container 
            p.lead #{currentTimeStamp}
            ul.list-group 
                each user  in users
                    li.list-group-item.lead  #{user.first_name} - #{user.username} on #{user.datetime_joined} 
                        | activation_token: 
                        br
                        a(href='/accounts/' + user.username + '/verify/' + user.activation_token) /accounts/#{user.username}/verify/#{user.activation_token}
            p.lead In the meanwhile, please register with us and make sure you are able to login before our launch date!




